<!DOCTYPE html>
<html lang="en">
  <head>
    <title></title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="/static/css/style.css" rel="stylesheet">
  </head>
  <body>
    <form>
      <input id="play-pause" type="button" value="Play/Pause">
      <input id="mute" type="button" value="Mute">
      <input id="volume-up" type="button" value="Volume Up">
      <input id="volume-down" type="button" value="Volume Down">
    </form>
    <script src="/static/js/main.js"></script>
  </body>
</html>
